<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
</head>
<body>
    <a href="/products/create">Add a document</a>
    <h3>Products List</h3>
    <table border="1" cellpadding='10' cellspacing='0'>
        <thead>
            <tr>
                <th>Product Id</th>
                <th>Product Name</th>
                <th>Product Quantity</th>
                <th>Product Price</th>
                <th>Action</th>

            </tr>
        </thead>
        <% for (var i=0;i<productsList.length;i++){ %>
        <tbody>
            <tr>
                <td><%=productsList[i]._id %></td>
                <td><%=productsList[i].name %></td>
                <td><%=productsList[i].quantity %></td>

                <td><%=productsList[i].price %></td>
                <td><a href="/products/<%=productsList[i]._id %>">View Details</a></td>

                <% } %>
            </tr>
        </tbody>
        
    </table>
    
</body>
</html>